/** Boxes base styles **/
:root {
    --boxRadius: 24px;
    --boxBg: #fff;
}

.box-group {
    position: relative;
}

.box-group-content {
    position: relative;
}

.box {
    position: relative;
    border-radius: var(--boxRadius);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    /*background: var(--boxBg);*/
}

.box-header {
    position: relative;
    text-align: center;
    background: var(--color-primary-light2b);
    border-radius: var(--boxRadius) var(--boxRadius) 0 0;
    padding: calc(var(--boxRadius) / 2);
}

.box:focus-within .box-header {
    background-color: var(--color-primary);
}

.box-title {
    position: relative;
    font-weight: 600;
    font-size: 1.2em;
    padding: 0.2em;
    line-height: normal;
    width: 65%;
    display: inline-block;
    border-radius: var(--boxRadius);
    background: var(--boxBg);
}

.box-grid {
    position: relative;
    background: var(--color-primary-light2c);
    border-radius: 0 0 var(--boxRadius) var(--boxRadius);
    border: none;
    padding: 12px 18px 18px 18px;
}

.box-grid:focus-within {
    padding: 12px;
    border: 6px solid var(--color-cyan);
    border-top: none;
    background: var(--boxBg);
    /*border-color: var(--color-primary-light2c);*/
    /*background: var(--color-primary-light2c);*/
}

.box-cell {
    position: relative;
    /*background: #d7ebeb;*/
    padding: 4px;
    margin: 2px;
    border-radius: 12px 12px 0 0;
    cursor: pointer;
}

.box-cell:focus {
    transition: transform .1s ease;
    transform: scale(1.5);
    /*background-color: var(--color-primary-light1);*/
    background: var(--boxBg);
    /*transition: background-color 2s ease;*/
    border: 2px solid var(--color-main-title);
    background-blend-mode: normal;
    z-index: 10;
    outline: none;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.box-cell:focus figcaption {
    display: block;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.box-cell:active {
    border: 1px solid rgb(146, 91, 130);
}

.box-cell figure {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
}

.box-cell figcaption {
    position: absolute;
    box-sizing: border-box;
    top: 100%;
    left: 0;
    width: 126%;
    background: var(--color-main-title);
    /*border: 1px solid #d7ebeb;*/
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 4px;
    font-size: 8px;
    border-radius: 0 0 6px 6px;
    overflow-wrap: revert;
    display: none;
    margin-top: 5px;
    margin-left: -13%;
    z-index: 11;
}

.box-cell .box-img {
    display: inline-block;
    vertical-align: middle;
    /*image-rendering: crisp-edges;*/
    /*image-rendering: pixelated;*/
    width: auto;
    height: auto;
    max-width: 100%;
    object-fit: contain;
}

.has-gmax {
    background-color: #d7ebebaa;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    transition: transform 0.2s ease;
}

.has-gmax:hover {
    background-color: #d7ebebff;
    background-blend-mode: normal;
    background-position: top center;
    transition: transform 0.2s ease;
}

/** CSS Grid styles **/

.box-group-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 2fr));
    grid-gap: 2rem;
}

@media only screen and (max-width: 640px) {
    .box-group-content {
        grid-template-columns: repeat(auto-fill, minmax(320px, 2fr));
    }
}

/*.box-grid {*/
/*    display: grid;*/
/*    grid-template-columns: 1fr;*/
/*    grid-template-rows: repeat(5, 1fr);*/
/*    grid-gap: 0;*/
/*}*/

.box-grid {
    display: grid;
    grid-template-columns: repeat(6, minmax(32px, 1fr));
    grid-template-rows: repeat(5, minmax(32px, 1fr));
    grid-gap: 0;
    margin: 0;
}

.box-cell {
    padding: 5px;
}
