
.layoutHeader {

}

.layoutHeaderTop {
    font-weight: bold;
    display: flex;
}

.layoutHeaderTitle {
    background: #fff;
    padding: var(--base-space);
    padding-right: 80px;
}

.layoutHeaderTitle img {
    height: 42px;
    margin: 0 10px 0 0;
    vertical-align: middle;
    display: inline-block;
    z-index: 1;
}

.layoutHeaderTitle h1 {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.4em;
    line-height: 1.2em;
    text-transform: uppercase;
    color: var(--color-main-title);
    margin: 0;
    z-index: 1;
}

.layoutHeaderTitle h1 b {
    font-weight: bolder;
}

.layoutHeaderTitle:before {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    /*left: 100%;*/
    /*width: 90px;*/
    /*margin-left: -34px;*/

    left: 100%;
    width: 100%;
    margin-left: -45%;
    background: rgba(255, 255, 255, .4);
    transform: skew(36deg);
}

.layoutHeaderTitle:after {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    /*left: 100%;*/
    /*width: 90px;*/
    /*margin-left: -46px;*/

    left: 100%;
    width: 100%;
    margin-left: -50%;
    background: rgba(255, 255, 255, 1);
    transform: skew(36deg);
}

.layoutHeaderRightMenu {
    flex-grow: 1;
    margin-left: 90px;
    padding: var(--base-space);
    text-align: right;
}

.layoutHeaderRightMenu nav {
    display: inline-block;
    text-align: center;
    /*background: #ffffff44;*/
    border-radius: 12px 12px 0 0;
    font-weight: 300;
}

.layoutHeaderRightMenu nav a {
    display: inline-block;
    text-decoration: none;
    color: var(--color-primary);
    padding: 12px 12px 18px 12px;
    font-weight: 600;
}

.layoutHeaderRightMenu nav a:hover {
    /*background: var(--color-main-title);*/
    color: var(--color-primary);
    padding-bottom: 12px;
    border-bottom: 6px solid var(--color-primary);
}

.layoutHeaderRightMenu nav a.active {
    /*background: var(--color-main-title);*/
    color: var(--color-main-title);
    padding-bottom: 12px;
    border-bottom: 6px solid var(--color-main-title);
}

.layoutHeaderRightMenu nav a i {
    margin-right: 6px;
}

.layoutHeaderBottom {
    padding: var(--base-space);
    text-align: center;
    color: var(--color-gray);
    font-style: normal;
    font-weight: 600;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.layoutHeaderSubMenuTitle {
    flex: 1;
    font-size: inherit;
    margin: 0;
    padding: 0;
}


@media only screen and (max-width: 1024px) {
    .layoutHeaderTop {
        display: block;
    }

    .layoutHeaderTitle {
        display: block;
        font-size: 0.75em;
        text-align: center;
        margin: 0;
        padding: var(--base-space);
    }

    .layoutHeaderTitle img {
        height: 32px;
    }

    .layoutHeaderTitle:after,
    .layoutHeaderTitle:before {
        display: none;
        width: 0;
        height: 0;
        content: none;
    }

    .layoutHeaderSubMenuTitle {
        font-size: 0.9em;
    }

    .layoutHeaderRightMenu {
        display: block;
        text-align: center;
        margin: 0;
        padding: 0;
        background: var(--color-primary-light1);
    }

    .layoutHeaderRightMenu nav {
        display: grid;
        background: #ffffffbb;
        border-radius: 0;
        grid-template-columns: repeat(auto-fit, minmax(32px, 1fr));
    }

    .layoutHeaderRightMenu nav a {
        padding: 18px 12px 12px 12px;
    }

    .layoutHeaderRightMenu nav a i {
        display: block;
        margin-bottom: 8px;
        font-size: 20px;
        margin-right: auto;
    }
    .layoutHeaderRightMenu nav a span {
        display: none;
    }
}