@charset "utf-8";

// If need, change your variables before importing Bulma
$title-color: rgba(36, 36, 36, 1);

@import "~bulma/bulma.sass";

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: rgb(208, 247, 164);
  background: linear-gradient(180deg, rgba(208, 247, 164, 1) 0%, rgba(153, 239, 184, 1) 60%, rgba(199, 251, 243, 1) 100%);
  color: #222;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}


[data-tooltip] {
  position: relative;
}

[data-tooltip]:hover::after,
[data-tooltip]:focus::after {
  content: attr(data-tooltip);
  position: absolute;
  color: #fff;
  background-color: #333444;
  padding: 3px;
  z-index: 999;
  font-size: 0.9em;
  width: 200%;
  margin-left: -50%;
  /* top: 150%; */
  //left: 0;
  border-radius: 8px;
  display: block;
  margin-top: 10px;
}

.pk-box-poke-gap [data-tooltip]:hover::after,
.pk-box-poke-gap [data-tooltip]:focus::after {
  display: none;
}

.pk-box-poke-gap a,
.pk-box-poke-gap a:hover {
  cursor: default;
}


.pk-main-header,
.pk-main-footer {
  font-family: monospace, "Pokemon GB", "Helvetica Neue";
  //background: #75d2b7;
  background: #334;
  margin-bottom: 1.45rem;
  color: #fff;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);

  a {
    text-decoration: none;
    color: inherit;
    display: block;
  }

  h1 {
    font-weight: bold;
  }

  padding: 30px 20px;
  font-size: 36px;
  text-align: center;
  font-weight: bold;
}

.pk-main-footer {
  padding: 50px 20px;
  font-size: 16px;
  margin-bottom: 0;

  a {
    display: inline-block;
    margin: 0 20px;
  }
}

.pk-box-poke {
  text-align: center;
}

.pk-box-poke img {
  object-fit: contain;
  width: auto;
  height: 56px;
  vertical-align: bottom;
  display: inline-block;
  position: relative;
  z-index: 2;
  //filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
  &:hover {
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.6));
  }
}


.pk-img-hover {
  display: none;
}

.pk-tag-has-gigantamax:hover {
  .pk-img-default {
    display: none;
  }

  .pk-img-hover {
    display: inline-block;
  }
}

.pk-box-container {
  position: relative;
  box-sizing: content-box;
  margin: 20px 20px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  min-width: 360px;
}

.pk-x-column .pk-box-container {
  width: 480px;
  display: inline-block;
  float: left;
}

.pk-box-container .title {
  background: #fff;
  padding: 10px;
  margin: 10px 10%;
  border-radius: 40px;
  font-size: 24px;
  text-align: center;
  line-height: normal;
  display: block;
}

.pk-box-container .hero-head {
  background: #11b2b0;
  padding: 10px;
  border-radius: 20px 20px 0px 0px;
}

.pk-box-container .hero-body {
  border: 1px solid #11b2b0;
  padding: 20px;
  background: #fff;
  border-radius: 0px 0px 20px 20px;
}

.pk-box-poke {
  position: relative;
  //cursor: pointer;
  //word-break: break-all;
  //overflow: hidden;
  //overflow-wrap: break-word;
}

.pk-box-poke:after {
  content: "";
  position: absolute;
  width: 76px;
  height: 76px;
  left: 50%;
  top: 50%;
  margin: -34px 0 0 -38px;
  background: radial-gradient(circle, rgba(117, 210, 183, 0.65) 0%, rgba(117, 210, 183, 0) 60%);
  border-radius: 60px;
  z-index: 0;
}

.pk-box-poke.pk-tag-has-gigantamax:after {
  background: radial-gradient(circle, rgba(210, 6, 23, 0.65) 0%, rgba(117, 210, 183, 0) 60%);
}

.pk-home-logo {
  position: relative;
  margin: 40px;
  text-align: center;
}

.pk-home-logo img {
  object-fit: contain;
  width: auto;
  height: 250px;
}

//.pk-tag-has-gigantamax::after {
//  content: " ";
//  border-radius: 0;
//  background: url("/media/symbols/dynamax_sprite.png") transparent no-repeat top right;
//  background-size: 16px;
//}

@media screen and (max-width: 768px) {
  .is-full-mobile {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;

    .pk-box-container {
      margin-left: 0;
      margin-right: 0;
    }
  }
  .columns.is-full-mobile {
    padding: 0 0.75rem;
  }
}
