.pokemonDetailsPage {
  position: relative;
}

.pokemonCardWrapper {
  margin: 1em 0;
}

.pokemonCard {
  display: inline-block;
  margin: 1em 0;
  padding: 1em;
  background: rgba(255, 255, 255, .6);
  width: 130px;
  height: 130px;
  border-radius: 300px;
  text-align: center;
  box-shadow: 2px 2px 2px 5px rgba(0, 0, 0, 0.45);
}

hr {
  border: 1px solid rgba(0, 0, 0, 0.08);
  margin: 2em 1em;
}

.mugShot {
  display: inline-block;
  margin: 1em;
  padding: 1em;
  background: rgba(255, 255, 255, .6);
  text-align: center;
  box-shadow: 2px 2px 2px 5px rgba(0, 0, 0, 0.15);
  width: 68px;
  height: 68px;
  border-radius: 200px;
}

.currentMugShot {
  box-shadow: 2px 2px 2px 5px rgba(0, 0, 0, 0.45);
}

/*.pokemonCard a {*/
/*  display: block;*/
/*  margin: 10px 0 0 0;*/
/*  font-size: 0.7em;*/
/*  box-shadow: 2px 2px 2px 5px rgba(0, 0, 0, 0.41);*/
/*}*/

.pokemonCard .pkm-wrapper, .mugShot .pkm-wrapper {
  position: relative;
  width: 100%;
  display: block;
}

.pokemonCard .pkm, .mugShot .pkm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  max-height: none;
  box-sizing: border-box;
}

.infoBox {
  padding: 16px;
  background: rgba(255, 255, 255, 0.1);
  display: inline-block;
}
